<{includeq file='db:library_header.html'}>

<div>
	<!-- Category index page -->
	<{if $library_category_list}>
		<ul>
		<{foreach item=category from=$library_category_list}>
			<li><{$category.itemLink}></li>
			<{if $category.subcategories}>
				<ul>
				<{foreach item=subcat from=$category.subcategories}>
					<li><{$subcat.itemLink}></li>
				<{/foreach}>
				</ul>
			<{/if}>
		<{/foreach}>
		</ul>
	<{/if}>
	
	<!-- Tag index page -->
	<{if $library_tag_list}>
		<ul>
			<{foreach item=tag from=$library_tag_list}>
				<li><{$tag.itemLink}></li>
			<{/foreach}>
		</ul>	
	<{/if}>
</div>

<{includeq file='db:library_footer.html'}>