<{includeq file='db:library_header.html'}>

<!-- Tag select box but only if enabled and Sprockets module installed -->
<div>
	<{if $library_tag_select_box}><{$library_tag_select_box}><{/if}>
</div>

<{if $library_publication}>
	<{include file=$library_publication.subtemplate}>
<{/if}>

<{if $library_publication_summaries}>
	<div>
		<!-- Pagination control -->
		<div>
			<{if $library_navbar }><{$library_navbar}><{/if}>
		</div>
		<{foreach item=library_publication from=$library_publication_summaries}>
			<{include file=$library_publication.subtemplate}>
		<{/foreach}>
<{/if}>

<{if $library_publication_table}>
	<h1><{$library_title}></h1>
	<{$library_publication_table}>
<{/if}>

<{includeq file='db:library_footer.html'}>